*{
    box-sizing: border-box;
    text-align: center; 
}
body{
    display: flex; 
    flex-direction:column;
    align-items: center;
    justify-content: center;
    height:100vh;
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', serif; 
}
.qr-card{
    border-radius:1.25rem; 
    padding: 1rem;
    width: 20rem; 
    height: 30rem;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0476518);
}

.qr-image{
    width: 100%; 
    border-radius:0.5rem; 
}
.qr-h1{
    font-weight: 700;  
    color:hsl(218, 44%, 22%);
    font-size:24px;
}
.qr-p{
    color:  hsl(220, 15%, 55%);
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.1875px;
    text-align: center;
    padding: 0 1rem 1rem;
}
div.attribution > span{
    display:block;
}